<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie</title>
</head>
<body>


{{ message }}
    <form method="post">
        <p><input name="title" type="text" placeholder="Tytuł" value="{{ article.title }}"></p>
        <p><input name="author" type="text" placeholder="Autor" value="{{ article.author }}"></p>
        <p><input name="description" type="text" placeholder="Opis" value="{{ article.description }}"></p>
        <p><input type="submit" value="Dodaj"></p>
        {% csrf_token %}
    </form>


</body>
</html>